<a href="https://colab.research.google.com/github/RRParaEdu/Assignments/blob/main/Pthread_Hooks/log_visualization/Pthread_Hooks_Log_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

Run this once before visualizing log

In [65]:
import pandas as pd
import textwrap

In [75]:
def parse_log(file_name):
  f = open(file_name, 'r')

  # read and parse the log file
  logs = []
  threads = []
  for line in f:
    try:
      timestamp = int(line.split(' ')[1])
      thread_id = int(line.split(' ')[3].rstrip(':'))
      message = ' '.join(line.rstrip('\n').split(' ')[4:])
      logs.append({"timestamp":timestamp,"tid":thread_id,"message":message})

      if not (thread_id in threads):
        threads.append(thread_id)
    except e:
      continue; #skip bad lines


  threads = sorted(threads)
  #print(logs)
  #print(threads)

  # constructed the list of logs by threads
  header_row = ['timestamp'] +  [ "th " + str(t) for t in threads]
  rows = []
  for l in logs:
    message = l["message"]
    timestamp = l["timestamp"]
    thread_id = l['tid']
    row = [timestamp]
    for t in threads:
        if thread_id == t:
            row.append('<br/>'.join(textwrap.wrap(message,width=20)))
            #row.append(message.wrap(20))
        else:
            row.append("")
    rows.append(row)

  #print(rows)

  # convert to pandas dataframe
  df = pd.DataFrame(rows, columns=header_row)
  df.sort_values('timestamp', inplace = True)
  df.reset_index(drop = True, inplace = True)
  #pd.options.display.max_columns = len(df.columns)
  #pd.set_option('display.max_colwidth', 10)
  #print(tabulate(df,headers=list(df), tablefmt="grid"))
  #df.to_csv("log.csv")
  #df.style.hide(axis="index")
  #df.style.format({"timestamp":"{:4d}"})

  return df

def stylize(df):
  heading_properties = [('font-size', '18px'),('background-color','#67c5a4'),('border-style','solid'),('border-width','1px')]

  cell_properties = [('font-size', '16px'),('border-style','solid'),('border-width','1px'), ('text-align','left')]

  row_theme = [("background-color","lightblue")]

  dfstyle = [dict(selector="th", props=heading_properties),\
      dict(selector="td", props=cell_properties),\
           dict(selector="tbody tr:nth-child(even)",props=row_theme)]

  return df.style.set_table_styles(dfstyle)

def visualized_log(file_name):
  df = parse_log(file_name)
  df_with_style = stylize(df)

  return df_with_style

# Log Visualization

paste your log text here

In [71]:
%%writefile log.txt
time 3197201329851 thread 77057: Main(): process start
time 3197201696034 thread 77060: consumer thread 2 start
time 3197201712881 thread 77060: mutex locked
time 3197201717725 thread 77060: wait on cond
time 3197201767225 thread 77059: producer thread 1 start
time 3197201794224 thread 77059: mutex locked
time 3197201800009 thread 77059: Two Produced
time 3197201804625 thread 77061: consumer thread 3 start
time 3197201822968 thread 77059: cond signal
time 3197201829149 thread 77059: cond signal
time 3197201838474 thread 77060: cond wait end
time 3197201863448 thread 77060: consumed one
time 3197201870209 thread 77060: mutex_unlocked
time 3197201872523 thread 77060: consumer thread 2 end
time 3197201842685 thread 77059: mutex unlocked
time 3197201893073 thread 77059: producer thread 1 end
time 3197201981876 thread 77061: mutex locked
time 3197201996314 thread 77061: wait on cond

Overwriting log.txt

run the following to visualize the log as a table

In [76]:
df = visualized_log("/content/log.txt")
df